$color-background: #FFFFFF;
$color-tile-background: #EDEFED;
$color-button-regular: #FF5A5F;
$color-button-transition: #FF8882;
$color-button-border: #E00007;
$color-header: #4F5152;
$color-text: #484848;
$color-h1: #F13333;
$color-border: #632D2D;
$color-highlight: #FF1717;
