@import "variables";

body {
  background-color: $color-background;
}
input {
    display: block;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}
header {
  background-color: $color-header;
  height: 25vh;
  border-radius: 10px;
}

h1 {
  color: $color-h1;
  margin: 0 auto;
  width: 20%;
}
form {
  input {
    border-radius: 10px;
  }
  display: flex;
  flex-direction: column;
}

.movieTile {
  span {
    font-size: 14px;
    color: $color-header;
    height: 20%;
    word-wrap: normal;
  }
  border: 2px solid $color-border;
  border-radius: 10px;
  background-color: $color-h1;
  display: flex;
  flex-direction: column;
  width: 20vh;
  height: 50vh;
  img {
    height: 60%;
  }
}
.dateTile {
  span {
    font-size: 14px;
    color: $color-header;
    height: 30%;
    word-wrap: normal;
  }
  border: 2px solid $color-border;
  border-radius: 10px;
  background-color: $color-h1;
  display: flex;
  flex-direction: column;
  width: 20vh;
  height: 50vh;
  img {
    height: 60%;
  }
}


main {
  display: flex;
  flex-wrap: wrap;
}
