@import "variables";

@media (max-width: 1000px) and (orientation: portrait) {

  body {
    background-color: $color-background;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
  }
  header {
    background-color: $color-header;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 270px;
    border-radius: 3px;
  }
  main {
    padding-top: 277px;
  }
  h1 {
    color: $color-background;
  }
  .logo {
    float: left;
    font-family: 'Baloo Tamma', cursive;
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
  }
  form {
    input {
      font-size: 33px;
      border-radius: 3px;
    }
  }
  .loginForm {
    input {
      text-align: center;
      display:block;
      width: 70%;
      float: left;
  }
    button {
      display: block;
      width: 28%;
      height: 90px;
    }
  }

  .movieTile {
    display: inline-block;
    border-radius: 3px;
    border-bottom: 1px solid $color-border;
    background-color: $color-tile-background;
    margin: 5px;
    padding: 5%;
    width: 90%;
    .movieInfo {
      .movieTitle {
      margin-left: 0 auto;
      font-weight: bold;
      font-size: 30px;
      margin: 0 auto;
      width: 75%;
    }
      .moviePlot {
        color: $color-text;
        display: block;
        margin: 5%;
        margin-top: 2%;
        margin-bottom: 2%;
        text-align: justify;
      }
    }
    img {
      height: 100%;
      width: 50%;
      float: left;
      border-radius: 3px;
    }
    .movieInfo {
      width: 50%;
      float: right;
    }
  }
  .modalInput {
    width: 80%;
    text-align: center;
    display: block;
    float: left;
  }
  .modalSubmit {
    display: block;
    font-size: 33px;
    width: 18%;
    height: 153px;
    background-color: $color-button-regular;
    border-radius: 3px;
    border: none;
    border-bottom: 1px solid $color-button-border;
    color: $color-background;
    text-decoration: none;
    transition: all 1s ease 0s;
  }
  .modalSubmit:hover {
    background-color: $color-button-border;
  }
  .dateTile {
    border-radius: 3px;
    border-bottom: 1px solid $color-border;
    background-color: $color-tile-background;
    padding: 5%;
    width: 100%;
    span {
      margin-left: 0 auto;
      font-weight: bold;
      font-size: 30px;
      margin: 0 auto;
      width: 75%;
    }
    img {
      height: 100%;
      width: 50%;
      float: left;
      border-radius: 3px;
    }
    .movieInfo {
      width: 50%;
      float: right;
    }
  }
  .btn {
    margin: 5px;
    font-size: 33px;
    width: 98%;
    height: 10vh;
    background-color: $color-button-regular;
    border-radius: 3px;
    border: none;
    border-bottom: 1px solid $color-button-border;
    color: $color-background;
    text-decoration: none;
    transition: all 1s ease 0s;
  }
  .btn:hover {
    background-color: $color-button-transition;
  }
  .tileBtn {
    margin-left: 5%;
    font-size: 33px;
    width: 100%;
    height: 10vh;
    background-color: $color-button-regular;
    border-radius: 3px;
    border: none;
    border-bottom: 1px solid $color-button-border;
    color: $color-background;
    text-decoration: none;
    transition: all 1s ease 0s;
  }
  .tileBtn:hover {
    background-color: $color-button-transition;
  }
  .searchBar {
    display: block;
    width: 88%;
    height: 51px;
    float: left;
    font-size: 33px;
  }
  .specialBtn {
    display: block;
    font-size: 33px;
    width: 10%;
    height: 10vh;
    background-color: $color-button-regular;
    border-radius: 3px;
    border: none;
    border-bottom: 1px solid $color-button-border;
    color: $color-background;
    text-decoration: none;
    transition: all 1s ease 0s;
  }
  .specialBtn:hover {
    background-color: $color-button-border;
  }
}
#modalCancel {
  margin-top: 20px;
}
#logoutBtn {
  width: 10%;
  float:right;
}
#friends {
  margin-top: 20px;
}
